.detail {
    margin-left: 28%;
}
.caja {
    width: 600px;
    margin: 30px;
    display: flex;
    padding: 16px;
    background-color: #14381452;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px #193d1ba7 solid;
    backdrop-filter: blur(2px);
}
.fotito {
    border-radius: 5px;
    width: 100%;
}
.name {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: rgb(53, 55, 56) 1px 1px 10px;
    text-decoration: none;
    color: white;
}
.info {
    padding-left: 0;
    text-align: left;
}
.letras {
    font-size: 20px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: rgb(53, 55, 56) 1px 1px 10px;
}